<div class="summary">
  <h2>Récapitulative</h2>
  <div *ngIf="personalInfo && projectInfo">
    <p>Merci {{ personalInfo.civility }} {{ personalInfo.civility }} {{ personalInfo.lastName }} {{ personalInfo.firstName }}</p>
    <div *ngIf="isEligible">
        <p>Félécitation! Vous etes éligible</p>
        <p>You qualify for an Effy amount of {{ effyAidAmount }} euros.</p>
    </div>
    <div *ngIf="!isEligible">
        <p>We're sorry, you are not eligible for our program at the moment.</p>
    </div>
    <div class="buttons">
      <button (click)="goToPersonalInfo()">Edit Personal Info</button>
      <button (click)="goToProjectInfo()">Edit Project Info</button>
    </div>
  </div>
</div>
